.header
{
    background-color: lightgray;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top:7px;
    
}

.header>h4
{
    color:white;
    
}

.header>ul
{
    list-style-type:none;
    
}

.header>ul>li
{
    float:left;

}

.header>ul>li:not(:first-child)
{
    margin-left:20px;
    
}

.bodyPage
{
    margin-top: 20px;
    width:100%;
    height:100%;
    background-color: red;
}

